<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    {{>header}}
    <h1>{{screamit txt}}</h1>
    <p>The company is called {{cny}}</p>
    {{> footer}}
  </body>
</html>
